{% extends 'ergoanimes/base.html' %}
{% load ergoanimes %}


{% block title %}{{ anime }} - {{ block.super }}{% endblock %}


{% block content %}
  <section class="content" role="application">
    <div class="row">
      {% if anime.img %}
        <div class="small-12 medium-3 columns text-center">
          <img class="border" src="{{ anime.img.url }}" alt="{{ anime }}">
        </div>
      {% endif %}

      <div class="small-12 {% if anime.img %}medium-9 {% endif %}columns">
        <h1>{{ anime }}</h1>
        <div class="row">
          <div class="small-7 columns">
            <ul class="square">
              <li><b>Tipo:</b> {{ anime.get_media_type_display }}</li>
              <li><b>Episódios:</b> {{ anime.episodes|default_if_none:'-' }}</li>
              <li><b>Temporada:</b> {{ anime.season_start|date:'b/Y'|capfirst|default:'-' }}</li>
              <li><b>Exibição:</b> {{ anime.get_air_display }}</li>
              <li><b>Gêneros:</b> {{ anime.get_genres_linkdisplay }}</li>
              <li><b>Links:</b> {{ anime.get_links_linkdisplay }}</li>
              <li><b>Duração dos episódios:</b> {{ anime.duration|default:'-' }} min.</li>
            </ul>
            {% if perms.ergoanimes.change_anime or perms.ergoanimes.delete_anime %}
              <div class="small-text-center medium-text-right">
                {% if perms.ergoanimes.delete_anime %}<a class="button small alert fi-trash" href="{% url 'ergoanimes:anime_delete' anime.pk %}" title="Apagar"></a>{% endif %}
                {% if perms.ergoanimes.change_anime %}<a class="button small fi-pencil" href="{% url 'ergoanimes:anime_edit' anime.pk %}" title="Editar"></a>{% endif %}
              </div>
            {% endif %}
            {% if anime.synopsis %}<div class="text-justify">{{ anime.synopsis|linebreaksbr }}</div>{% endif %}
          </div>

          <div class="small-5 columns">
            {% if useranime %}
              <ul class="square">
                <li><b>Status:</b> {{ useranime.get_status_display }}</li>
                <li><b>Fansub:</b> {{ useranime.get_fansub_linkdisplay }}</li>
                <li><b>Qualidade:</b> {{ useranime.get_quality_display }}</li>
                <li><b>Resolução:</b> {{ useranime.get_resolution_display }}</li>
                <li><b>Nota:</b> {{ useranime.note|default_if_none:'-' }}</li>
                <li>
                  <b>Episódios:</b>
                  <ul class="square">
                    <li><b>Publicados:</b> {% ergoanimes_episodes useranime.episodes_pub anime.episodes %}</li>
                    <li><b>Baixados:</b> {% ergoanimes_episodes useranime.episodes_down useranime.episodes_pub %}</li>
                    <li><b>Vistos:</b> {% ergoanimes_episodes useranime.episodes_viewed useranime.episodes_down %}</li>
                  </ul>
                </li>
                <li><b>Vezes visto:</b> {{ useranime.times }}</li>
                <li><b>Visto em:</b> {{ useranime.get_date_display }}</li>
                <li><b>Link:</b> {{ useranime.get_link_linkdisplay }}</li>
              </ul>
              {% if useranime.comment %}<div class="text-justify">{{ useranime.comment|linebreaksbr }}</div>{% endif %}
            {% else %}
              <a href="{% url 'ergoanimes:useranime_add' anime.pk %}">Adicionar para a minha lista</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
