{% extends 'ergoanimes/base.html' %}
{% load i18n %}


{% block content %}
  <section role="application" class="content">
    <div class="row">
      {% if anime.img %}
        <div class="small-12 medium-3 columns text-center">
          <img class="border" src="{{ anime.img.url }}" alt="Image">
        </div>
      {% endif %}
      <div class="small-12 {% if anime.img %}medium-9 {% endif %}columns">
        <h1>{{ anime }}</h1>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <ul class="square">
              <li><strong>{% trans 'Type' %}:</strong> {{ anime.get_media_type_display }}</li>
              <li><strong>{% trans 'Season' %}:</strong> {{ anime.get_season_start_display }}</li>
              <li><strong>{% trans 'Episodes' %}:</strong> {{ anime.get_episodes_display }}</li>
              <li><strong>{% trans 'Genres' %}:</strong> {{ anime.get_genres_linkdisplay }}</li>
              <li><strong>{% trans 'Links' %}:</strong> {{ anime.get_links_linkdisplay }}</li>
              {% if perms.ergoanimes.change_anime %}
                <li><a href="{% url 'ergoanimes:anime_edit' anime.pk %}">{% trans 'Edit' %}</a></li>
              {% endif %}
              {% if perms.ergoanimes.delete_anime %}
                <li><a href="{% url 'ergoanimes:anime_delete' anime.pk %}">{% trans 'Delete' %}</a></li>
              {% endif %}
              {% if anime.synopsis %}<li><strong>{% trans 'Synopsis' %}:</strong> {{ anime.synopsis }}</li>{% endif %}
            </ul>
          </div>
          <div class="small-12 medium-6 columns">
            {% if useranime %}
              <ul class="square">
                <li><strong>{% trans 'Status' %}:</strong> {{ useranime.get_status_display }}</li>
                <li><strong>{% trans 'Fansub' %}:</strong> {{ useranime.get_fansub_linkdisplay }}</li>
                <li><strong>{% trans 'Quality' %}:</strong> {{ useranime.get_quality_display }}</li>
                <li><strong>{% trans 'Resolution' %}:</strong> {{ useranime.get_resolution_display }}</li>
                <li><strong>{% trans 'Note' %}:</strong> {{ useranime.get_note_display }}</li>
                <li>
                  <strong>{% trans 'Episodes' %}:</strong>
                  <ul class="square">
                    <li><strong>{% trans 'Published' %}:</strong> {{ useranime.get_episodes_pub_linkdisplay }}</li>
                    <li><strong>{% trans 'Downloaded' %}:</strong> {{ useranime.get_episodes_down_linkdisplay }}</li>
                    <li><strong>{% trans 'Viewed' %}:</strong> {{ useranime.get_episodes_viewed_linkdisplay }}</li>
                  </ul>
                </li>
                <li><strong>{% trans 'Times Watched' %}:</strong> {{ useranime.times }}</li>
                <li><strong>{% trans 'Watch in' %}:</strong> {{ useranime.get_date_display }}</li>
                <li><strong>{% trans 'Link' %}:</strong> {{ useranime.get_link_linkdisplay }}</li>
                <li><a href="{% url 'ergoanimes:useranime_form' anime.pk %}">{% trans 'Edit' %}</a></li>
                <li><a href="{% url 'ergoanimes:useranime_delete' anime.pk %}">{% trans 'Delete' %}</a></li>
                {% if useranime.comment %}<li><strong>{% trans 'Comment' %}:</strong> {{ useranime.comment }}</li>{% endif %}
              </ul>
            {% else %}
              <a href="{% url 'ergoanimes:useranime_form' anime.pk %}">{% trans 'Add to my list' %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
