{% extends 'ergohome/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{{ block.super }} {% trans 'Animes' %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ergoanimes/css/app.css' %}">
{% endblock %}


{% block top-bar-left %}
  <li class="has-dropdown">
    <a href="{% url 'ergoanimes:anime_list' %}">{% trans 'Animes' %}</a>
    <ul class="dropdown">
      <li><a href="{% url 'ergoanimes:useranime_list' %}">{% trans 'My List' %}</a></li>
      <li><a href="{% url 'ergoanimes:anime_list' %}">{% trans 'All' %}</a></li>
      {% if perms.ergoanimes.add_anime %}
        <li class="divider"></li>
        <li><a href="{% url 'ergoanimes:anime_add' %}">{% trans 'Add' %}</a></li>
      {% endif %}
    </ul>
  </li>
  <li class="divider"></li>
  <li class="{% if perms.ergoanimes.add_fansub %}has-dropdown{% endif %}">
    <a href="{% url 'ergoanimes:fansub_list' %}">{% trans 'Fansubs' %}</a>
    {% if perms.ergoanimes.add_fansub %}
      <ul class="dropdown">
        <li><a href="{% url 'ergoanimes:fansub_list' %}">{% trans 'All' %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'ergoanimes:fansub_add' %}">{% trans 'Add' %}</a></li>
      </ul>
    {% endif %}
  </li>
  <li class="divider"></li>
  <li><a href="{% url 'ergoanimes:genre_list' %}">{% trans 'Genres' %}</a></li>
{% endblock %}
