{% extends 'ergo/base.html' %}
{% load compress %}
{% load ergoanimes %}
{% load staticfiles %}


{% block title %}{{ block.super }} Animes{% endblock %}

{% block css %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'ergoanimes/ergoanimes.css' %}">
  {% endcompress %}
{% endblock %}

{% block js %}
  {{ block.super }}
  {% compress js %}
    <script src="{% static 'ergoanimes/ergoanimes.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block top-bar-left %}
  <ul class="left">
    <li class="divider"></li>
    <li class="has-dropdown">
      <a href="{% url 'ergoanimes:anime_list' %}">Animes</a>
      <ul class="dropdown">
        <li class="has-dropdown">
          <a href="{% url 'ergoanimes:useranime_list' %}">Minha Lista</a>
          <ul class="dropdown">
            <li class="has-dropdown">
              <a href="{% url 'ergoanimes:useranime_statuslist' %}">Status</a>
              <ul class="dropdown">
                {% ergoanimes_menustatus %}
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="{% url 'ergoanimes:useranime_reportlist' %}">Relatórios</a>
              <ul class="dropdown">
                <li><a href="{% url 'ergoanimes:useranime_reportlist' %}#watch">Assistir</a></li>
                <li><a href="{% url 'ergoanimes:useranime_reportlist' %}#down">Baixar</a></li>
                <li><a href="{% url 'ergoanimes:useranime_reportlist' %}#new-watch">Novos para Assistir</a></li>
                <li><a href="{% url 'ergoanimes:useranime_reportlist' %}#new-down">Novos para Baixar</a></li>
              </ul>
            </li>
            <li><a href="{% url 'ergoanimes:useranime_list' %}">Todos</a></li>
          </ul>
        </li>
        <li><a href="{% url 'ergoanimes:anime_list' %}">Todos</a></li>
        {% if perms.ergoanimes.add_anime %}
          <li class="divider"></li>
          <li><a href="{% url 'ergoanimes:anime_add' %}">Novo</a></li>
        {% endif %}
      </ul>
    </li>
    <li class="divider"></li>

    <li class="has-dropdown">
      <a href="{% url 'ergoanimes:fansub_list' %}">Fansubs</a>
      <ul class="dropdown">
        <li><a href="{% url 'ergoanimes:fansub_list' %}">Todos</a></li>
        {% if perms.ergoanimes.add_fansub %}
          <li class="divider"></li>
          <li><a href="{% url 'ergoanimes:fansub_add' %}">Novo</a></li>
        {% endif %}
      </ul>
    </li>
    <li class="divider"></li>

    <li><a href="{% url 'ergoanimes:genre_list' %}">Gêneros</a></li>
    <li class="divider"></li>

    <li class="has-form">
      <form action="{% url 'ergoanimes:anime_list' %}">
        <div class="row collapse">
          <div class="small-9 medium-12 large-8 columns">
            <input type="text" name="anime" placeholder="Anime">
          </div>
          <div class="small-3 large-4 hide-for-medium columns">
            <button type="submit"><i class="fi-magnifying-glass"></i></button>
          </div>
        </div>
      </form>
    </li>
    <li class="divider"></li>
  </ul>
{% endblock %}
