{% extends 'ergohome/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{{ block.super }} {% trans 'Animes' %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ergoanimes/css/app.css' %}">
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'ergoanimes/js/app.js' %}"></script>
{% endblock %}


{% block top-bar-left %}
  <li class="has-dropdown">
    <a href="{% url 'ergoanimes:anime_list' %}">{% trans 'Animes' %}</a>
    <ul class="dropdown">
      <li class="has-dropdown">
        <a href="{% url 'ergoanimes:useranime_list' %}">{% trans 'My List' %}</a>
        <ul class="dropdown">
          <li class="has-dropdown">
            <a href="{% url 'ergoanimes:useranime_status' %}">{% trans 'Status' %}</a>
            <ul class="dropdown">
              <li><a href="{% url 'ergoanimes:useranime_status' %}#watching">{% trans 'Watching' %}</a></li>
              <li><a href="{% url 'ergoanimes:useranime_status' %}#hold">{% trans 'Hold' %}</a></li>
              <li><a href="{% url 'ergoanimes:useranime_status' %}#completed">{% trans 'Completed' %}</a></li>
              <li><a href="{% url 'ergoanimes:useranime_status' %}#drop">{% trans 'Drop' %}</a></li>
              <li><a href="{% url 'ergoanimes:useranime_status' %}#new">{% trans 'New' %}</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="{% url 'ergoanimes:useranime_reports' %}">{% trans 'Reports' %}</a>
            <ul class="dropdown">
              <li><a href="{% url 'ergoanimes:useranime_reports' %}#watch">{% trans 'Watch' %}</a></li>
              <li><a href="{% url 'ergoanimes:useranime_reports' %}#down">{% trans 'Down' %}</a></li>
              <li><a href="{% url 'ergoanimes:useranime_reports' %}#new-watch">{% trans 'New for Watch' %}</a></li>
              <li><a href="{% url 'ergoanimes:useranime_reports' %}#new-down">{% trans 'New for Down' %}</a></li>
            </ul>
          </li>
          <li><a href="{% url 'ergoanimes:useranime_check' %}">{% trans 'Check new' %}</a></li>
          <li><a href="{% url 'ergoanimes:useranime_bynote' %}">{% trans 'By note' %}</a></li>
          <li><a href="{% url 'ergoanimes:useranime_viewedhd' %}">{% trans 'Viewed in HD' %}</a></li>
          <li><a href="{% url 'ergoanimes:useranime_list' %}">{% trans 'All' %}</a></li>
        </ul>
      </li>
      <li><a href="{% url 'ergoanimes:anime_list' %}">{% trans 'All' %}</a></li>
      {% if perms.ergoanimes.add_anime %}
        <li class="divider"></li>
        <li><a href="{% url 'ergoanimes:anime_add' %}">{% trans 'Add' %}</a></li>
      {% endif %}
    </ul>
  </li>
  <li class="divider"></li>
  <li class="{% if perms.ergoanimes.add_fansub %}has-dropdown{% endif %}">
    <a href="{% url 'ergoanimes:fansub_list' %}">{% trans 'Fansubs' %}</a>
    {% if perms.ergoanimes.add_fansub %}
      <ul class="dropdown">
        <li><a href="{% url 'ergoanimes:fansub_list' %}">{% trans 'All' %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'ergoanimes:fansub_add' %}">{% trans 'Add' %}</a></li>
      </ul>
    {% endif %}
  </li>
  <li class="divider"></li>
  <li><a href="{% url 'ergoanimes:genre_list' %}">{% trans 'Genres' %}</a></li>
  <li class="divider"></li>
  <li class="has-form">
    <form action="{% url 'ergoanimes:anime_list' %}">
      <div class="row collapse">
        <div class="small-9 medium-12 large-8 columns">
          <input type="text" name="anime" placeholder="{% trans 'Anime' %}">
        </div>
        <div class="small-3 large-4 hide-for-medium columns">
          <button type="submit">{% trans 'Search' %}</button>
        </div>
      </div>
    </form>
  </li>
{% endblock %}
