{% extends 'ergoanimes/base.html' %}
{% load i18n %}


{% block content %}
  <section role="application" class="content">
    <div class="row">
      {% if fansub.img %}
        <div class="small-12 medium-3 columns text-center">
          <img class="border" src="{{ fansub.img.url }}" alt="Image">
        </div>
      {% endif %}
      <div class="small-12 {% if fansub.img %}medium-9 {% endif %}columns">
        <h1>{{ fansub }}</h1>
        <ul class="square">
          <li><strong>{% trans 'Site' %}:</strong> {{ fansub.get_site_linkdisplay }}</li>
          <li><strong>{% trans 'IRC' %}:</strong> {{ fansub.get_irc_linkdisplay }}</li>
          <li><strong>{% trans 'Active' %}:</strong> {{ fansub.get_active_display }}</li>
          {% if perms.ergoanimes.change_fansub %}
            <li><a href="{% url 'ergoanimes:fansub_edit' fansub.pk %}">{% trans 'Edit' %}</a></li>
          {% endif %}
          {% if perms.ergoanimes.delete_fansub %}
            <li><a href="{% url 'ergoanimes:fansub_delete' fansub.pk %}">{% trans 'Delete' %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
