{% extends 'ergoanimes/base.html' %}


{% block title %}{{ fansub }} - {{ block.super }}{% endblock %}


{% block content %}
  <section class="content" role="application">
    <div class="row">
      {% if fansub.img %}
        <div class="small-12 medium-3 columns text-center">
          <img class="border" src="{{ fansub.img.url }}" alt="{{ fansub }}">
        </div>
      {% endif %}

      <div class="small-12 {% if fansub.img %}medium-9 {% endif %}columns">
        <h1>{{ fansub }}</h1>
        <ul class="square">
          <li><b>Site:</b> {{ fansub.get_site_linkdisplay }}</li>
          <li><b>IRC:</b> {{ fansub.get_irc_linkdisplay }}</li>
          <li><b>Ativo:</b> {{ fansub.get_active_display }}</li>
        </ul>

        {% if perms.ergoanimes.change_fansub or perms.ergoanimes.delete_fansub %}
          <div class="row">
            <div class="small-12 columns small-text-center medium-text-right">
              {% if perms.ergoanimes.delete_fansub %}<a class="button small alert fi-trash" href="{% url 'ergoanimes:fansub_delete' fansub.pk %}" title="Apagar"></a>{% endif %}
              {% if perms.ergoanimes.change_fansub %}<a class="button small fi-pencil" href="{% url 'ergoanimes:fansub_edit' fansub.pk %}" title="Editar"></a>{% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h2>Minha Lista</h2>
        <ul class="square">
          {% for anime in mylist_list %}
            <li><a href="{{ anime.get_absolute_url }}">{{ anime }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
