{% extends 'ergoanimes/base.html' %}


{% block title %}Fansubs - {{ block.super }}{% endblock %}


{% block content %}
  <section class="content" role="application">
    <table class="width-full">
      <thead>
        <tr>
          <th>Fansub</th>
          <th class="show-for-medium-up">Site</th>
          <th class="show-for-large-up">IRC</th>
          <th class="show-for-medium-up width-6r">Ativo</th>
        </tr>
      </thead>
      <tbody>
        {% for fansub in fansub_list %}
          <tr>
            <td><a href="{{ fansub.get_absolute_url }}">{{ fansub.name }}</a></td>
            <td class="show-for-medium-up">{{ fansub.get_site_linkdisplay }}</td>
            <td class="show-for-large-up">{{ fansub.get_irc_linkdisplay }}</td>
            <td class="show-for-medium-up">{{ fansub.get_active_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
