{% extends 'ergoanimes/base.html' %}
{% load ergoanimes %}


{% block title %}Gêneros - {{ block.super }}{% endblock %}


{% block content %}
  <section class="content" role="application">
    <table class="width-full">
      <thead>
        <tr>
          <th>Gênero</th>
          <th class="width-6r">Minha Lista</th>
          <th class="width-6r show-for-medium-up">Animes</th>
        </tr>
      </thead>
      <tbody>
        {% for genre in genre_list %}
          <tr>
            <td><a href="{{ genre.get_absolute_url }}">{{ genre.get_genre_display }}</a></td>
            <td>{{ genre|ergoanimes_getcount:mylist_count }}</td>
            <td class="show-for-medium-up">{{ genre|ergoanimes_getcount:anime_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
