{% extends 'ergoanimes/base.html' %}
{% load i18n %}


{% block content %}
  <section role="application" class="content">
    <div class="row">
      <div class="small-12 columns">
        <h1>{{ genre }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h2>{% trans 'Animes' %}</h2>
        <ul class="square">
          {% for anime in genre.animes.all %}
            <li>{{ anime.get_linkdisplay }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
