{% extends 'ergoanimes/base.html' %}
{% load ergoanimes %}


{% block title %}Verificar Novos - {{ block.super }}{% endblock %}


{% block content %}
  <section class="content" role="application">
    <table class="width-full">
      <thead>
        <tr>
          <th>Anime</th>
          <th class="show-for-medium-up width-6r">Tipo</th>
          <th class="show-for-medium-up width-6r">Temporada</th>
          <th class="show-for-medium-up width-6r">Episódios</th>
          <th class="width-6r">Status</th>
          <th class="show-for-large-up">Fansub</th>
          <th class="show-for-large-up width-6r">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for useranime in useranime_list %}
          <tr>
            <td class="anime">{{ useranime.anime.get_anime_img_synopsis_linkdisplay }}</td>
            <td class="show-for-medium-up">{{ useranime.anime.get_media_type_display }}</td>
            <td class="show-for-medium-up">{{ useranime.anime.season_start|date:'b/Y'|capfirst|default:'-' }}</td>
            <td class="show-for-medium-up">{% ergoanimes_episodes useranime.episodes_pub useranime.anime.episodes useranime.anime.pk 'pub' %}</td>
            <td>{{ useranime.get_status_display }}</td>
            <td class="show-for-large-up">{{ useranime.get_fansub_linkdisplay }}</td>
            <td class="show-for-large-up">{{ useranime.get_link_linkdisplay }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
